/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 /* The Modal (background) */
.modalAjuda {
  display: none;
  position: fixed; 
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgba(0,0,0,0.5);
}

.modalErro {
  display: block;
  position: fixed; 
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgba(0,0,0,0.5);
}

.trasicao{
  transition: all 1s linear;
}

.modal-contentAjuda {
  background-color: #353535;
  margin: 5% auto;
  padding: 2%;
  border: 1px solid #353535;
  width: 50%;
}

.modal-contentErro {
  background-color: #353535;
  margin: 10% auto;
  padding: 2%;
  border: 1px solid #353535;
  width: 50%;
}

.icone {
  color: #fff;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.icone:hover,
.icone:focus {
  color: #929292;
  text-decoration: none;
  cursor: pointer;
}

.iconeProximo{
  padding: 0!important;
    margin-top: -2% !important;
}

.iconeVoltar{
  padding: 0!important;
  margin-top: -2% !important;
  float: left;
  transform: scaleX(-1)
}

.conteudoModal{
  color: #fff;
  margin: 5%;
}

h3{
  color: #fff;
}

 img{
  /* imagem retirada de: http://pngimg.com/download/45266 */
  width: 40%;
  padding: 0;
  margin: 0;
}

/*.east, .north, .west, .south{
} */

.north{ /*Cima */
  transform:rotate(-55deg);
}
 .south{ /*Baixo */
  transform: rotate(-55deg) scaleX(-1);
}
.west{/*Esquerda */
    transform: rotate(25deg) scaleX(-1) !important;
}
.east{/*Direita */
  transform:rotate(-10deg);
}

@media screen and (max-device-width: 425px){
  .modal-contentAjuda{
    width: 90%;
  }
  
  .modal-contentErro{
    width: 90%;
    margin: 50% auto;
  }
  
  input, input:hover, input:active{
    font-size: initial !important;
  }
  
  .botaoGO {
    font-size: initial !important;
  }

  select {
    font-size: initial !important;
  }

  .iconeProximo, .iconeVoltar {
    margin-top: -5% !important;
  }
  table {
    width: 90% !important;
  }
}

@media screen and (max-device-width: 1024px){
	img {
		width: 50%
  }
  td,tr,th{
    border: 1px solid #353535;
    text-align: center !important;
    width: 2rem !important;
    height: 3rem!important;
  }
}

@media screen and (min-device-width: 1440px){
	img {
		width: 45%;
  }
}

td,tr,th{
  border: 1px solid #353535;
  text-align: center !important;
  width: 2rem !important;
  height: 5rem;
}

.material-icons{
  color: #fff;
  padding: 2%;
}

.navbar {
    background-color: #424242;
    overflow: hidden;
    -webkit-box-shadow: 2px 7px 5px rgba(50, 50, 50, 0.77);
    -moz-box-shadow:    9px 7px 5px rgba(50, 50, 50, 0.77);
    box-shadow:         9px 7px 5px rgba(50, 50, 50, 0.77);
    border:none;
  }
  
  .navbar a, .navbar p {
    float: left;
    display: block;
    color: #f2f2f2;
    padding: 1%;
    margin: 2%;
  }

  .navbar a {
    text-decoration: none;
    font-size: 18px;
  }

  .navbar p {
    font-size: 24px;
    margin: 0;
    margin-top: 1%;
  }

  .body {
    margin: 0;
    /* imagem retirada de: https://wallpapercave.com/w/wp1816252  */
    background-image: url("../assets/fundo.jpg");
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    position: relative !important;
    display: grid !important;
    min-height: max-content !important;
    height: -webkit-fill-available !important;
    font-family: cursive;
    font-size: large;
}

  .cabecalho{
    height: 3%;
  }

  .conteudo{
    margin: 1%;
    text-align: -webkit-center;
  }

  .ajuda{
    display: flex;
    float: right;
    margin: 2%;
  }

  table{
    width: 50%;
    height: 90% !important;
    margin: 2% !important;
    border-collapse: collapse !important;
    padding: 2% !important;
    border-radius: 30px !important;
    border-style: hidden !important; 
    box-shadow: 0px 0px 5px #424242 !important; 
    background-color: #424242;
  }

  input, input:hover, input:active{
    padding: 0.5%;
    display: inline-block;
    color: #fff;
    background-color: #424242;
    border: 1px solid #424242 !important;
    border-radius: 4px;
    box-sizing: border-box;
    font-family: cursive;
    font-size: large;
  }

  .opcoes{
    text-align: center;
    margin: 2%;
  }

  
.botaoGO {
    background-color: #353535;
    color: white;
    padding: 0.5%;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family: cursive;
    font-size: large;
  }

  select {
    padding: 0.5%;
    border: none;
    border-radius: 4px;
    background-color: #424242;
    color: #fff;
    font-family: cursive;
    font-size: large;
  }

  .botaoAjuda, .botaoAjuda:active{
    background-color: transparent;
    border: none;
  }

  li{
    margin: 2%;
  }

  li .negrito{
    font-weight: bold;
  }